<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Form</h2>
    <script>
        if (localStorage.getItem('authToken')) {
            localStorage.removeItem('authToken')
        }
    </script>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password })
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                // Assuming the response contains a token
                localStorage.setItem('authToken', data.token);

                alert('Login successful!');
            } catch (error) {
                console.error('Error:', error);
                alert('Login failed. Please check your credentials and try again.');
            }
        });

    </script>
    <a href="/video/upload/" class="button">Go to Video Upload Page</a>
</body>
</html>
